html, body, .doc {
  background-color: #e7e7e7;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: 0;
}

.fa-icon {
  color: #968b99;
  font-size: 60px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fa-icon:hover {
  color: #676d67;
}


a.real-nav-item {
  color: #eaeaea;
  background-color: #413843;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.force-left {
  text-align: left;
}

a.real-nav-item:hover {
  border-radius: 0px;
  border-bottom: 4px solid #676d67;
}

.real-navbar {
  color: #eaeaea;
  background-color: #39313b;
  resize: none;
}

.pad-10 {
  padding: 10px;
}

#navbar {
  background-color: #332f34;
  border-radius: 30px;
}

.nav-a {
  color: #332f34;
  text-decoration: none;
  filter: invert(10%);
}

.fig:hover {
  z-index: 7;
}

.fig-1 {
  z-index: 6;
}

.profile-img1 {
  transform: translateX(30px);
  border-radius: 300px;
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.profile-img1:hover {
  transform: translateX(30px) scale(1.2);
}

.profile-img2 {
  transform: translateX(-30px);
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 300px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.profile-img2:hover {
  transform: translateX(-30px) scale(1.2);
}

hr {
  background-color: #332f34;
}

hr .hr2 {
  background-color: #676d67;
}

.special:hover {
  text-decoration: underline;
  text-decoration-color: #9877b7;
}

.nav-button {
  background-color: #48444a;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-button:hover {
  box-shadow: 0 0 20px #7e668c;
}

.white-text {
  color: #eaeaea;
}

.large {
  font-size: 38px;
}

.bold {
  font-weight: bolder;
}

.force-center {
  text-align: center;
  justify-items: center;
  align-items: center;
}

.smol {
  width: 50px;
  height: 50px;
}

code {
  color: #eaeaea;
  background-color: #453d47;
  font-family: "Segoe UI", sans-serif;
  border-radius: 5px;
}

.boxeh {
  background-color: #332f34;
  border-radius: 10px;
}

.boxeh1 {
  background-color: #48444a;
  border-radius: 10px;
}

.pink {
  color: #f4a1da;
}

.red {
  color: #ff878c;
}

.purple {
  color: #9877b7;
}

.gray {
  color: #c6c0c0;
}

.mol {
  font-size: 20px;
}

.boxeh2 {
  font-size: 16px;
  background-color: #453d47;
  border-radius: 10px;
  color: #989898;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.boxeh2:hover {
  background-color: #514953;
}

.grlnk {
  color: #3b8070;
  font-weight: bold;
  border-bottom: transparent;
  -webkit-transition: border-bottom 0.5s ease-out;
  transition: border-bottom 0.5s ease-out;
}

.grlnk:hover {
  border-bottom: #3b8070 3px solid;
}

.groo {
  color: #989898;
}

.blog-ref {
  color: #7e668c;
  font-weight: bold;
  border-bottom: transparent;
  -webkit-transition: border-bottom 0.5s ease-out;
  transition: border-bottom 0.5s ease-out;
}

.blog-ref:hover {
  color: #676d67;
  border-bottom: #676d67 3px solid;
}
